// In assets/css/_custom.scss, you can add some css style code to customize the style.

.single {
  .content {
    h2 {
      margin: 8rem 0 3rem;
    }
    h3 {
      margin: 4rem 0 2rem;
    }
    h2,
    h3 {
      a {
        text-decoration: none;
      }
    }
    a {
      text-decoration: underline;
    }
    p {
      margin: 2rem 0;
    }
  }
}

.single {
  .single-title {
    margin-top: 3.5rem;
  }
}

.toc-content {
  li {
    line-height: 1.3rem;
  }
}

.single .content > h3 > .header-mark::before {
  content: ".";
}

.toc .toc-content ul a:first-child::before {
  content: "-";
}

.home[posts] .summary {
  padding-top: 7rem;
  padding-bottom: 6rem;
}
